@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

:root {
    --primary-color: #c38659;
    --secondary-color: #4e3429;
    --dark-grey: #948c8b;
    --purplish: #6c6c94;
    --faded-blue: #647498;
}

body {
    font-family: 'Metamorphous',
    cursive;
    margin: 0;
    padding: 0;
}

#text-input {
    width: 80%;
    height: 10vh;
    display: block;
    margin:1rem;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    height:10vh;
    width:80%;
    margin:1rem;
    padding:1rem;
}